:root {
  --primary-color: black;
  --secondary-color: lightgrey;
  --tertiary-color: darkgreen;
}

body {
  background-color: var(--primary-color);
}

.navbar,
.navbar-collapse {
  display: flex;
  justify-content: space-between;
}

.navbar-brand,
.nav-link {
  color: var(--primary-color);
  margin: 0.5rem;
}

.form-inline {
  display: flex;
  justify-content: space-between;
}


.bg-light {
  --bs-bg-opacity: 1;
  background-color: var(--secondary-color) !important;
}

nav .btn {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  margin: 1rem;
}
