:root {
  --primary-color: black;
  --secondary-color: #d3d3d3;
  --tertiary-color: #006400;
  --fourth-color: #9ce69c;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

main {
  margin: 2rem;
}
  
a {
  color: white;
  &:hover {
    color: var(--fourth-color);
  }
}

.navbar,
.navbar-collapse {
  display: flex;
  justify-content: space-between;
}

.navbar-brand,
.nav-link {
  color: var(--primary-color);
  margin: 0.5rem;
}

.form-inline {
  display: flex;
  justify-content: space-between;
}

.bg-light {
  --bs-bg-opacity: 1;
  background-color: var(--secondary-color) !important;
}

nav .btn {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  margin: 1rem;
}

/* --------------------Accessibility-------------------- */
/* allows to "hide" the skip navigation link which is still accessible by any screen reader */
.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* displays the skip navigation link when it is focused */
.skip:focus {
  position: static;
  width: auto;
  height: auto;
}
